{
  "presets": [
    "stage-0",
    "react",
    "flow",
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "modules": false
      }
    ],
    [
      "env",
      {
        "targets": {
          "browsers": "last 2 versions"
        },
        "loose": false,
        "modules": false
      }
    ]
  ],
  "plugins": ["transform-regenerator", "transform-runtime"]
}
